     <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
          
              <%= image_tag article.picture.url(:medium), class: "img-fluid  rounded d-flex m-auto" %>
             
            </div>
            <div class="col-lg-6">
              <h2 class="card-title"><%=article.title %></h2>
              <%=article.description.html_safe %>
              <%= link_to "Читать", article , class: "btn btn-primary"%>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2017 by
          <%= link_to article.user.nickname, article.user %>
        </div>
      </div>