     <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
          
              <%= image_tag article.picture.url(:medium), class: "img-fluid  rounded d-flex m-auto" %>
             
            </div>
            <div class="col-lg-6">
              <h2 class="card-title"><%=article.title %></h2>
              <p><%= article.shortdesc %></p>


              <%= link_to "Читать", article , class: "btn btn-primary"%>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
          <span> <i class="fa fa-calendar" aria-hidden="true"></i> <%= article.created_at.strftime( "%d.%m.%Y")%> </span> <span><i class="fa fa-user-o" aria-hidden="true"> </i>
          <%= link_to article.user.nickname, article.user  %></span>
        </div>
      </div>