<% set_meta_tags title: "Статьи  ", description: "Статьи на i360.cam",
                 reverse: true,
                 og: { title: "Статьи | i360.cam" }
%>



<% breadcrumb :articles, @articles %>
                <div class="row">
                  <div class="col col-md-8 col-lg-9 col-xl-9 d-flex justify-content-between align-content-around navigation-clean-search">
               <%= form_with url: articles_path, :class => 'form-inline', id: "articles_search",  method: :get, html: { style: "width:100%" }  do |form| %>
                                     <div class="form-group d-flex flex-row justify-content-center align-items-baseline" style="width:100%;">
                                     <label for="search_field" style="width:10%;"><i class="fa fa-search"></i></label>

                                       <div class="input-group" style="width:90%">
                                         <%= form.text_field :search, id: "search_field" , placeholder: "Поиск...", class: "form-control form-control-lg d-block"    %>
                                         <span class="input-group-btn">
        <button id="search_button" class="btn btn-primary" type="button">Поиск</button>
      </span>
                                       </div>


    </div>
<% end %>
                </div>
                  <% if current_user && current_user.admin? %>
                <div class="col-3 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-end align-content-around align-self-center navigation-clean-search">
                              <%= link_to new_article_path, class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>
                </div>
                      <%end%>
                <div class="col-md-8 col-lg-9">

                                            <div class="row" id="articles">
   <%= render @articles %>
                        </div>

                   
<div id="paginatediv" class="text-center">
           <button id="load_more" class="btn btn-outline-primary text-center" type="button">Загрузить еще </button>
           <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

                </div>

                  <div class="col-md-4 col-lg-3 col-xl-3">

                  <h3>Теги</h3>
                  <%= raw Tag.joins(:articles).uniq.map(&:name).map{ |t| link_to "#"+t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>

                </div>



</div>



