<% if (params.include?(:search) and params.include?(:page) )%>

$('#articles').append("<%= j render(@articles) %>");
<% if @articles.next_page %>
    $('#paginatediv').html("<%= j  will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% else %>
    $('#paginatediv').html("");
<% end %>


<% else %>

<% if params.include?(:search) %>


<% if @articles.count !=0 %>
$('#articles').html("<%= escape_javascript(render (@articles)) %>");
<% else%>
$('#articles').html('<p class="no_results">Ничего не найдено</p>');
<%end%>

$('#paginatediv').html("<%= j  will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% end %>

<% if params.include?(:page) %>
$('#articles').append("<%= j render(@articles) %>");
<% if @articles.next_page %>
    $('#paginatediv').html("<%= j  will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% else %>
    $('#paginatediv').html("");
<% end %>
<% end %>

<% end %>




