<% set_meta_tags description: 'Member login page.',
                 keywords: 'Site, Login, Members', reverse: true,
                 og: { title: @article.title, image: request.protocol + request.host + @article.picture.url(:medium) }
%>



<% breadcrumb :article, @article %>
 <div class="row">


                  <div class="col-8 col-sm-8 col-md-10 col-lg-10">
                    <h3 class="mt-4 mb-3"><%= title @article.title %></h3></div>

   <% if policy(@article).update? %>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">

                    <%= link_to edit_article_path(@article) , class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
  <% end %> 
   </div>
<div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">
 <%= link_to article_path, method: :delete , class: 'btn btn-danger' do %>
 <i class="fa fa-remove"></i>
 <% end %> 

                </div>
   <% end %>


   <div class="col-md-8 col-lg-9">
 <%= image_tag @article.picture.url(:medium), class: "img-fluid d-flex m-auto" %>

          <hr>



         <%=@article.description.html_safe %>
          
          <hr>

        </div>


                        <div class="col-md-4 col-lg-3 ">
                          <div class="d-flex justify-content-between">
                            <small> <i class="fa fa-user-o" aria-hidden="true"> </i> <%= link_to @article.user.nickname, @article.user %></small>
                            <small> <i class="fa fa-calendar" aria-hidden="true"> </i> <%= @article.created_at.strftime( "%d.%m.%Y")%></small>
                          </div>
                          <hr>
                          <%= raw @article.tags.map(&:name).map{ |t| link_to "#"+ t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
                          <hr>
                </div>



        </div>


