 <% breadcrumb :article, @article %>
 <div class="row">


                  <div class="col-8 col-sm-8 col-md-10 col-lg-10">
                    <h3 class="mt-4 mb-3"><%= title @article.title %></h3></div>


                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">

                    <%= link_to edit_article_path(@article) , class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
  <% end %> 
   </div>
<div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">
 <%= link_to article_path, method: :delete , class: 'btn btn-danger' do %>
 <i class="fa fa-remove"></i>
 <% end %> 


                
                  
                </div>



               <div class="col-md-8 col-lg-9">
 <%= image_tag @article.picture.url(:medium), class: "img-fluid d-flex m-auto" %>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 1, 2017 at 12:00 PM</p>

          <hr>

         <%=@article.description.html_safe %>
          
          <hr>

        </div>


                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                <%= raw Tag.all.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur elementum libero, quis sagittis lacus maximus sit amet. Nulla pulvinar at augue quis hendrerit. Suspendisse sed odio ultricies, malesuada ipsum et, accumsan
                        odio. Integer finibus eu metus sed tincidunt. Maecenas nunc quam, feugiat vel lectus at, porta vestibulum libero. Duis imperdiet tortor non mi ornare, in tincidunt felis imperdiet. Praesent ullamcorper aliquam lectus viverra varius.
                        Nulla facilisi. Aliquam in porta eros. Praesent a vehicula metus. </p>
                </div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

        </div>


