<% breadcrumb :user, @user %>
<div class="row align-items-center">
    <div class="col">
        <h1 class="mt-4 mb-3">Профиль пользователя <%= @user.nickname %> </h1></div>
                   <% if current_user == @user %>
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">

        <%= link_to edit_user_registration_path, class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>


    </div>


     <% end %>
</div>


<div class="row">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">

            <div class="col-xl-12">
                <p><%= @user.description %></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xl-12 text-center">
        <h1 class="text-center mt-4 mb-3">Панорамы</h1>
        <div class="tz-gallery">
            <div class="row">

              <%= render @posts %>

            </div>
        </div><%= link_to 'Показать все посты', user_posts_path(@user), class: 'btn btn-outline-primary text-center' %>



        </div>
    <div class="col-md-12 col-xl-12 text-center">
        <h1 class="text-center mt-4 mb-3">Виртуальные туры</h1>
        <div class="tz-gallery">
            <div class="row">

              <%= render @virtualtours %>

            </div>
        </div> <%= link_to 'Показать все виртуальные туры', user_virtualtours_path(@user), class: 'btn btn-outline-primary text-center' %>
        </div>
</div>


