<% set_meta_tags title: "Изменить пароль ", description: "Изменить пароль на i360.cam",
                 reverse: true,
                 og: { title: "Изменить пароль | i360.cam" }
%>

<% breadcrumb :edit_password %>
<div class="row">
  <div class="col-lg-12">
    <h3 class="mt-4 mb-3">Изменить пароль</h3>
  </div>
  <div class="col-md-8 col-lg-9">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> символов минимум)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true,placeholder: "Новый пароль", class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
            <%= f.password_field :password_confirmation,autofocus: true,placeholder: "Подтверждение пароля", class: "form-control", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.submit "Изменить пароль", class: "btn btn-primary btn-block" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>


  </div>

  <div class="col-md-4 col-lg-3">
    <p>Изменить пароль </p>
  </div>


</div>

