  <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="thumbnail">


  <%= link_to virtualtour, class: 'lightbox',data: { turbolinks: false }  do %>

 <img src=" <%= virtualtour.panoramas.first.image.url(:thumb) %>" >

          <div class="caption">
            <h3><%= virtualtour.title %></h3>
          </div>
          <%= raw virtualtour.tags.map(&:name).map{ |t| link_to "#"+ t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
      <% end %>

      <div class="d-flex justify-content-between">
        <small> <i class="fa fa-user-o" aria-hidden="true"> </i> <%= link_to virtualtour.user.nickname, virtualtour.user %></small>
        <small> <i class="fa fa-calendar" aria-hidden="true"> </i> <%= virtualtour.created_at.strftime( "%d.%m.%Y")%></small>
      </div>

	 </div>
 </div>
