               <% breadcrumb :virtualtours, @virtualtours %>
                <div class="row">
                <div class="col-9 col-md-8 col-lg-9 col-xl-9 d-flex justify-content-between align-content-around navigation-clean-search">
               <%= form_with url: virtualtours_path, :class => 'form-inline', id: "virtualtours_search",  method: :get, html: { style: "width:100%" }  do |form| %>
                                     <div class="form-group d-flex flex-row justify-content-center align-items-baseline" style="width:100%;">
                                     <label for="search_field" style="width:10%;"><i class="fa fa-search"></i></label>
                                       <%= form.text_field :search, id: "search_field" , placeholder: "Начните вводить", class: "form-control form-control-lg d-block", style: "width:90%" 
                                %>
    </div>
<% end %>
                </div>
                  <% if current_user%>
                <div class="col-3 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-end align-content-around align-self-center navigation-clean-search">
                              <%= link_to new_virtualtour_path, class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>
                </div>
                  <% end %>
                <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row" id="virtualtours">
   <%= render @virtualtours %>
                        </div>
                    </div>
<div id="paginatediv">
           <%= will_paginate @virtualtours, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

                </div>

                <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur elementum libero, quis sagittis lacus maximus sit amet. Nulla pulvinar at augue quis hendrerit. Suspendisse sed odio ultricies, malesuada ipsum et, accumsan
                        odio. Integer finibus eu metus sed tincidunt. Maecenas nunc quam, feugiat vel lectus at, porta vestibulum libero. Duis imperdiet tortor non mi ornare, in tincidunt felis imperdiet. Praesent ullamcorper aliquam lectus viverra varius.
                        Nulla facilisi. Aliquam in porta eros. Praesent a vehicula metus. </p>
                </div>


</div>
