<%= form_with(model: post, local: true, :class => 'form-horizontal', multipart: true ) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">

      <ol class="alert alert-warning">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

      <div class="form-group">
        <%= form.label :title,  "Название" ,  class: "mr-sm-2"%>
         <%= form.text_field :title, id: :post_title , placeholder: "Название", class: "form-control"%>
    </div>

    <div class="form-group">
            <%= form.label :description,  "Описание" ,  class: "mr-sm-2"%>
         <%= form.text_area :description, id: :post_description,rows: 5 , placeholder: "Описание", class: "form-control" %>

    </div>

    <div class="form-group">
      <label class="mr-sm-2" for="images">Добавить панорамы</label><br>
      <%= file_field_tag "images[]", id: 'images',  type: :file, multiple: true %>
    </div>




      <div class="form-group">
       <%= form.label :all_tags,  "Теги" ,  class: "mr-sm-2"%>
         <%= form.text_field :all_tags, id: :all_tags, placeholder: "Теги", class: "form-control"%>
    </div>


    <div class="form-group">
      <%= form.label :closed,  "Закрытый?" ,  class: "mr-sm-2"%>
      <%= form.check_box :closed, id: :closed%>
    </div>

  <div class="form-group">
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>

<% end %>

