  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="thumbnail">


  <%= link_to post, class: 'lightbox',data: { turbolinks: false }  do %>



 <% if (!post.vk_album_id.empty?)
   vk = VkontakteApi::Client.new(session[:token]) %>
 <img src=" <%= vk.photos.get(owner_id: post.vk_owner_id, album_id: post.vk_album_id).first.src %>" >
 <% else %>
 <img src=" <%= post.panoramas.first.image.url(:thumb) %>" >
<% end %>


         <div class="caption">
            <h3><%= post.title %> от</h3>
            <h4><%= post.user.nickname %></h4>
            </div>
 <% end %>

	 </div>
 </div>
