<% set_meta_tags title: "Редактирование поста ", description: "Редактирование поста на i360.cam",
                 reverse: true,
                 og: { title: "Редактирование поста | i360.cam" }
%>
<% breadcrumb :postedit, @post %>
<div class="row">

  <div class="col-md-8 col-lg-9">
<h1>Редактирование</h1>
<div class="container">
<%= render 'form', post: @post %>
</div>
  </div>
  <div class="col-md-4 col-lg-3">

    <%= raw Page.where(slug: 'postinstructions_edit').take ? Page.where(slug: 'postinstructions_edit').take.body: ""  %>
  </div>
</div>

<%- if !@post.panoramas.empty? %>
<h5>Удаление панорам</h5>
<% end %>

                <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row">
  <% unless @post.panoramas.empty? %>
  <% @post.panoramas.each do |panorama| %>



    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="thumbnail">


<span style="display:none"><%= imageoriginal(panorama) %></span>
 <img src=" <%= imagethumb(panorama) %>">
 <%= link_to "Удалить", panorama, data: { confirm: "Вы уверены?", method: "delete" }, class: "btn btn-danger btn-block" %>

   </div>
 </div>


  <% end %>
  <% end %>



    </div>
      </div>
      <%= link_to 'К посту', @post %> |
<%= link_to 'К постам', posts_path %>
        </div>
     






