<% if (params.include?(:search) and params.include?(:page) )%>


$('#posts').append("<%= j render(@posts) %>");
<% if @posts.next_page %>
    $('#paginatediv').html("<%= j  will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% else %>
    $('#paginatediv').html("");
<% end %>


<%else%>


<% if params.include?(:search) %>
<% if @posts.count !=0 %>
$('#posts').html("<%= escape_javascript(render (@posts)) %>");
<% else%>
$('#posts').html('<p class="no_results">Ничего не найдено</p>');
<%end%>

$('#paginatediv').html("<%= j  will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% end %>

<% if params.include?(:page) %>
$('#posts').append("<%= j render(@posts) %>");
<% if @posts.next_page %>
    $('#paginatediv').html("<%= j  will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>");
<% else %>
    $('#paginatediv').html("");
<% end %>
<% end %>
<% end %>




