        <% set_meta_tags description: 'Member login page.',
                 keywords: 'Site, Login, Members', reverse: true
    %>


         <% breadcrumb :post, @post %>


                <div class="row">




                 <div class="col-5 col-sm-6 col-md-8 col-lg-8">
                    <h3 class="mt-4 mb-3"><%= title @post.title %></h3></div>
                <div class="col-3 col-sm-2 col-lg-2 d-flex justify-content-around align-items-center align-content-center">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="littleplanet"> Label</label>
                    </div>
                </div>
                <% if policy(@post).update? %>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">





                    <%= link_to edit_post_path(@post) , class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>
   </div>
<div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">
                     <%= link_to post_path, method: :delete , class: 'btn btn-danger' do %>

 <i class="fa fa-remove"></i>
 <% end %>


                
                  
                </div>

<% end %>
                <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row">
 <% if (!@post.vk_album_id.empty?)
   vk = VkontakteApi::Client.new(session[:token]) %>
  <% unless vk.photos.get(owner_id: @post.vk_owner_id, album_id: @post.vk_album_id).empty? %>
  <% vk.photos.get(owner_id: @post.vk_owner_id, album_id: @post.vk_album_id).each do |panorama| %>

  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="thumbnail">


<span style="display:none"><%= panorama.src_xxbig %></span>

 <img src=" <%= panorama.src_xbig %>" onclick="OpenPanorama(this)" >



   </div>
 </div>


  <% end %>
<% end %>



 <img src=" <%=  %>" >










 <% else %>





  <% unless @post.panoramas.empty? %>
  <% @post.panoramas.each do |panorama| %>

  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="thumbnail">


<span style="display:none"><%= panorama.image.url %></span>
 <img src=" <%= panorama.image.url(:thumb) %>" onclick="OpenPanorama(this)" >
   </div>
 </div>


  <% end %>
<% end %>






<% end %>


                        </div>
                    </div>
                </div>







                <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
<p>Автор: <%= link_to @post.user.email, @post.user %> </p>
<p>
  <%= @post.description %>
</p>



                </div>

</div>




    <div id="panorama-container">

      <!-- Progress bar -->
      <div id="progress_bar"></div>

      <!-- Close button -->
      <div class="closepano">
        <i>&times;</i>
      </div>

      <!-- Main container -->
      <div id="main-container">
        
      </div>
    </div>

<%= javascript_include_tag "three.min" %>
<%= javascript_include_tag "panolens.min"%>


    <%= javascript_tag do %>

 var panoramaContainer, mainContainer, closeButton,  viewer, panorama,progressBar, progress;
      panoramaContainer = document.getElementById( 'panorama-container' );
      mainContainer = document.getElementById( 'main-container');
      progressBar = document.getElementById( 'progress_bar' );
      closeButton = panoramaContainer.querySelector( '.closepano' );
     
 function OpenPanorama (img) {
      

       setupPanolens();
     //  console.log(img);
//console.log(img.previousSibling.previousSibling);
//console.log(img.parentNode.firstChild);

           if ($('#littleplanet').is(':checked')) {
              panorama = new PANOLENS.ImageLittlePlanet( img.previousSibling.previousSibling.innerText);
          }
        else 
            {
                panorama = new PANOLENS.ImagePanorama( img.previousSibling.previousSibling.innerText );
             }
           
             panorama.addEventListener( 'progress', function ( event ) {
             progress = event.progress.loaded / event.progress.total * 100;
             progressBar.style.width = progress + '%';
             if ( progress === 100 ) {
             progressBar.style.opacity = 0;
              }

            } );
            viewer.add( panorama );

            panoramaContainer.classList.add( 'open' );

          };

       
     

      function setupPanolens () {

         viewer = new PANOLENS.Viewer( { container: mainContainer } );

      };

      function disposePanorama () {

        panorama.dispose();
        viewer.remove( panorama );
        panorama = null;

      };


      function disposeViewer () {

            viewer.dispose();
          mainContainer.innerHTML = '';
viewer = null;

      };


      function init () {

        // Dispose panorama when close
        closeButton.addEventListener( 'click', function () {

          disposePanorama();
          disposeViewer();
          progressBar.style.width = 0;
          progressBar.style.opacity = 1;
          panoramaContainer.classList.remove( 'open' );

        }, false );

      }

      init();


<% end %>










<%= link_to 'Back', posts_path %>
