
<% set_meta_tags description: @post.description,
                 keywords: @post.tags.map(&:name).map{|t| t}, reverse: true,
                 og: { title: @post.title, image: metatag_image(@post.panoramas.first) }
%>


         <% breadcrumb :post, @post %>


                <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-10">
                    <h3 class="mt-4 mb-3"><%= title @post.title %></h3></div>

                <% if policy(@post).update? %>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">

                    <%= link_to edit_post_path(@post) , class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>
   </div>
<div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">
                     <%= link_to post_path, data: { confirm: "Вы уверены, что хотите удалить?", method: "delete" } , class: 'btn btn-danger' do %>

 <i class="fa fa-remove"></i>
 <% end %>


                
                  
                </div>
<% end %>

                <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row">



  <% unless @post.panoramas.empty? %>
                              <% @post.panoramas.each do |panorama| %>
                                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                    <div class="thumbnail">
                                      <span style="display:none"><%= imageoriginal(panorama) %></span>
                                      <img src="<%= imagethumb(panorama) %>" onclick="OpenPanorama(this)" >
                                      <a class="text-right iframelink" style="display: none;" data-toggle="modal" data-target="#exampleModal" data-panourl="'<%=polymorphic_url(panorama) %>'">   <i class="fa fa-external-link " aria-hidden="true" style="color: #007bff" ></i>
                                      </a>
                                    </div>
                                  </div>
                              <% end %>
                          <% end %>
                 </div>
                    </div>
 </div>
 <div class="col-md-4 col-lg-3">
   <br>
                  <div class="d-flex justify-content-around">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="littleplanet" style="display:none" onchange="changecolor(this)"> <i id="globe" class="fa fa-globe fa-2x" style="color:#gray;" aria-hidden="true"></i></label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="shareiframe" style="display:none"> <i id="iframe" class="fa fa-external-link fa-2x" style="color:#gray;" aria-hidden="true"></i></label>
                </div>

<hr >

                  <div class="d-flex justify-content-between">
                    <small> <i class="fa fa-user-o" aria-hidden="true"> </i> <%= link_to @post.user.nickname, @post.user %></small>
                    <small> <i class="fa fa-calendar" aria-hidden="true"> </i> <%= @post.created_at.strftime( "%d.%m.%Y")%></small>
                  </div>
<hr>
                  <%= raw @post.tags.map(&:name).map{ |t| link_to "#"+ t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
                  <hr>
<p>
  <%= @post.description %>
</p>
 <hr>
 </div>

                    <div class="col-md-8 col-lg-9 text-center">


                      <button class="btn btn-outline-primary text-center" type="button" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="collapseExample">
                       Развернуть комментарии
                      </button>


                      <div class="collapse" id="comments">
                        <br>
                        <div class="card card-body">
                          <!-- Put this script tag to the <head> of your page -->
                          <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

                          <script type="text/javascript">
                              VK.init({apiId: 5823627, onlyWidgets: true});
                          </script>

                          <!-- Put this div tag to the place, where the Comments block will be -->
                          <div id="vk_comments" ></div>
                          <script type="text/javascript">
                              VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
                          </script>
                        </div>
                      </div>



                  </div>


</div>

<div id="panorama-container">

      <!-- Progress bar -->
      <div id="progress_bar"></div>

  <div class="banter-loader" id="preloader">
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
  </div>

      <!-- Close button -->
      <div class="closepano">
        <i class="fa fa-times"></i>
      </div>
      <!-- Main container -->
      <div id="main-container">

          </div>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вставка кода</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <code class="iframecode">

                </code>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>


<%= javascript_include_tag "three.min" %>
<%= javascript_include_tag "panolens.min"%>
<%= javascript_include_tag "postshow"%>





