

        <% set_meta_tags description: 'Member login page.',
                 keywords: 'Site, Login, Members', reverse: true
    %>

         <% breadcrumb :post, @post %>


                <div class="row">




                 <div class="col-8 col-sm-8 col-md-8 col-lg-10">
                    <h3 class="mt-4 mb-3"><%= title @post.title %></h3></div>

                <% if policy(@post).update? %>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">

                    <%= link_to edit_post_path(@post) , class: 'btn btn-info' do %>

 <i class="fa fa-edit"></i>
 <% end %>
   </div>
<div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 align-items-baseline">
                     <%= link_to post_path, method: :delete , class: 'btn btn-danger' do %>

 <i class="fa fa-remove"></i>
 <% end %>


                
                  
                </div>
<% end %>

                <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row">



  <% unless @post.panoramas.empty? %>
  <% @post.panoramas.each do |panorama| %>

  <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
    <div class="thumbnail">


<span style="display:none"><%= imageoriginal(panorama) %></span>
 <img src=" <%= imagethumb(panorama) %>" onclick="OpenPanorama(this)" >

        <a class="text-right iframelink" style="display: none;" data-toggle="modal" data-target="#exampleModal" data-panourl="'<%=polymorphic_url(panorama) %>'">   <i class="fa fa-external-link " aria-hidden="true" style="color: #007bff" ></i>
        </a>


   </div>
 </div>


  <% end %>
<% end %>
                 </div>
                    </div>
 </div>
 <div class="col-md-4 col-lg-3">
   <br>
                  <div class="d-flex justify-content-around">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="littleplanet" style="display:none" onchange="changecolor(this)"> <i id="globe" class="fa fa-globe fa-2x" style="color:#gray;" aria-hidden="true"></i></label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" id="shareiframe" style="display:none"> <i id="iframe" class="fa fa-external-link fa-2x" style="color:#gray;" aria-hidden="true"></i></label>
                </div>

<hr >

                  <div class="d-flex justify-content-between">
                    <small> <i class="fa fa-user-o" aria-hidden="true"> </i> <%= link_to @post.user.nickname, @post.user %></small>
                    <small> <i class="fa fa-calendar" aria-hidden="true"> </i> <%= @post.created_at.strftime( "%d.%m.%Y")%></small>
                  </div>
<hr>
                  <%= raw @post.tags.map(&:name).map{ |t| link_to "#"+ t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>
                  <hr>
<p>
  <%= @post.description %>
</p> </div>
</div>

<div id="panorama-container">

      <!-- Progress bar -->
      <div id="progress_bar"></div>

  <div class="banter-loader" id="preloader">
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
  </div>

      <!-- Close button -->
      <div class="closepano">
        <i class="fa fa-times"></i>
      </div>
      <!-- Main container -->
      <div id="main-container">

          </div>
    </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вставка кода</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <code class="iframecode">

                </code>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>



        <script>


            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var url = button.data('panourl') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.iframecode').text('<iframe src='+url+' height="300" width="100%"></iframe>')

            })

            var shareiframe = document.getElementById('shareiframe');
            shareiframe.onchange = function() {
                changecolor(this);
                var links = document.getElementsByClassName("iframelink");
                for(var i = 0; i < links.length; i++)
                {  if (shareiframe.checked){links[i].style.display = "block";} else {  links[i].style.display = "none";}   }
            };
        function changecolor(obj){
           var ch_obj = obj.nextElementSibling;
if (obj.checked){ ch_obj.style.color="#17a2b8"}  else { ch_obj.style.color="gray"}
        }
        </script>

<%= javascript_include_tag "three.min" %>
<%= javascript_include_tag "panolens.min"%>


    <%= javascript_tag do %>



 var panoramaContainer, mainContainer, closeButton,  viewer, panorama,progressBar, progress;
      panoramaContainer = document.getElementById( 'panorama-container' );
           var  preloader = document.getElementById( 'preloader');
      mainContainer = document.getElementById( 'main-container');
      progressBar = document.getElementById( 'progress_bar' );
      closeButton = panoramaContainer.querySelector( '.closepano' );
     
 function OpenPanorama (img) {
      

       setupPanolens();
     //  console.log(img);
//console.log(img.previousSibling.previousSibling);
//console.log(img.parentNode.firstChild);

           if ($('#littleplanet').is(':checked')) {
              panorama = new PANOLENS.ImageLittlePlanet( img.previousSibling.previousSibling.innerText);
          }
        else 
            {
                panorama = new PANOLENS.ImagePanorama( img.previousSibling.previousSibling.innerText );
             }
           
             panorama.addEventListener( 'progress', function ( event ) {
             progress = event.progress.loaded / event.progress.total * 100;
             progressBar.style.width = progress + '%';
            progressBar.style.position = "fixed";
            progressBar.style.opacity = 1;
            preloader.style.display = "block";
             if ( progress === 100 ) {
            preloader.style.display = "none";
             progressBar.style.opacity = 0;
              }

            } );
            viewer.add( panorama );

            panoramaContainer.classList.add( 'open' );

          };

       
     

      function setupPanolens () {

         viewer = new PANOLENS.Viewer( { container: mainContainer } );

      };

      function disposePanorama () {

        panorama.dispose();
        viewer.remove( panorama );
        //panorama = null;

      };


      function disposeViewer () {

            viewer.dispose();
          mainContainer.innerHTML = '';
viewer = null;

      };


      function init () {

        // Dispose panorama when close
        closeButton.addEventListener( 'click', function () {
if (panorama.loaded == true) {
          disposePanorama();
}
            disposeViewer();
          progressBar.style.width = 0;
          progressBar.style.opacity = 1;
          panoramaContainer.classList.remove( 'open' );

        }, false );

      }

      init();


<% end %>



