<!DOCTYPE html>
<html>
  <head>
  <%= display_meta_tags site: 'i360.cam' %>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean fixed-top">
            <div class="container"><a class="navbar-brand" href="#">Company Name</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><%= link_to "Посты", posts_path, class: "nav-link"  %></li>
<!--                         <li class="nav-item" role="presentation">  <%= link_to "Виртуальные туры", '#', class: "nav-link"  %></li>
                           <li class="nav-item" role="presentation">  <%= link_to "Зайти через VK", '#', class: "nav-link"  %></li> -->
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">О проекте</a></li>
 <%- if current_user %>
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Профиль</a>
                            <div class="dropdown-menu" role="menu"><%= link_to "Профиль", current_user, class: "dropdown-item", role: "presentation" %><%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "dropdown-item", role: "presentation" %></div>
                        </li>
  <% else %>

 <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Вход/Регистрация</a>
                            <div class="dropdown-menu" role="menu"><%= link_to "Войти", new_user_session_path, class: "dropdown-item", role: "presentation" %><%= link_to "Регистрация", new_user_registration_path, class: "dropdown-item", role: "presentation" %></div>
                        </li>

  <% end %>




                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">


        <%= flash_messages %>



<%= breadcrumbs style: :bootstrap, separator: "->"%>
    </div>







        <div class="container">
             	 <%= yield %>
   </div>


    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>


  </body>
</html>
